#potions--section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#potions--article {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.potion--card {
    width: 15%;
    margin: 0.5rem 1rem;
}

.potion--img {
    padding: 1rem;
    max-height: 10rem;
    max-width: 10rem;
    align-self: center;
}

.potion--card-body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.potion--card--buttons {
    margin-top: -0.5rem;
    width: 100%;
}

.potion--card--buttons > button {
    margin: 10px;
}

#potions--aside {
    position: fixed;
    right: 0;
    top: 25%;
    height: 50%;
    width: 17.5%;
    border: 1px solid black;
}