#potions--section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

#potions--article-center {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#potions--article-left {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.potion--card {
    flex: 0 1 15%;
    margin: 0.5rem 1rem;
}

.potion--img {
    padding: 1rem;
    max-height: 10rem;
    max-width: 10rem;
    align-self: center;
}

.potion--card-body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.potion--card--buttons {
    margin-top: -0.5rem;
    width: 100%;
}

.potion--card--buttons > button {
    margin: 10px;
}

#potions--aside {
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    right: 0;
    top: 25%;
    height: 50%;
    width: 15%;
    border: 1px solid black;
    overflow: auto;
    margin-right: 1.25%;
}

#potions--aside-list {
    overflow: auto;
    height: 90%;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 4px;
}

#potions--aside > button {
    border-radius: 0;
    margin: auto;
    width: 100%;
    flex-grow: 1;
}
